[mysql]
; MySQL account used to access the gappsd database.
hostname=
username=
password=
database=

[gapps]
; Google Apps domain.
domain=

; "Administrative API" account used for API requests.
admin-api-username=
admin-api-password=

; Administrators email, for sending warning/error mails.
admin-email=

; GAppsd tuning parameters (best kept default).
[gappsd]
; Activity/Summary reports parameters
;activity-backlog=30     ; Number of days in the past to request the reports of.

; Job processing parameters
;job-softfail-delay=300  ; Seconds before the next try on softfail.
;job-softfail-threshold=4; Number of softfail to become an hardfail.
;read-only=0             ; Only process jobs that will not change Google Apps
                         ; side values.

; Logging parameters
;logfile-name=           ; Name of the logfile prefix (use "" for None).
;logfile-rotation=1      ; Number of days between two logfile rotations.
;logfile-backlog=90      ; Number of old logfiles to keep.
;logmail=0               ; Activate mail for critical log entries ?
;logmail-delay=1800      ; Delay between two logmail with identical subjects.
;logmail-smtp=           ; SMTP server for the by-mail logs.
;logmail-domain-in-subject=0
                         ; Add the domain name in the subject of emails.

; Queue parameters
;queue-min-delay=2       ; Minimal delay between two job execution (in seconds).
;queue-delay-normal=10   ; Standard delay for normal jobs.
;queue-delay-offline=30  ; Standard delay for offline jobs.
;queue-warn-overflow=true; Warn admins on queue overflow.

; Token parameters
;token-expiration=86400  ; Validity of the token, in seconds.

; vim:set syntax=dosini:
